@using NIHR.Infrastructure.AspNetCore;
<style>
    .govuk-notification-banner:focus {
        outline: 3px solid #FED47A
    }
</style>
@{
    var notification = TempData.Get<NotificationBannerModel>("Notification");
}
@if (notification != null)
{
    <div class="govuk-notification-banner @(notification.IsSuccess ? "govuk-notification-banner--success" : "govuk-notification-banner--failure")" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" id="notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                @notification.Heading
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            @if (!string.IsNullOrWhiteSpace(notification.Body))
            {
                <p class="govuk-notification-banner__heading">@Html.Raw(notification.Body)</p>
            }
            @if (!string.IsNullOrWhiteSpace(notification.SubBodyText))
            {
                <p>@Html.Raw(notification.SubBodyText)</p>
            }
            @if (!string.IsNullOrWhiteSpace(notification.LinkText) && !string.IsNullOrWhiteSpace(notification.LinkUrl))
            {
                <a class="govuk-notification-banner__link" href="@notification.LinkUrl">@notification.LinkText</a>
            }
        </div>
    </div>
}
