@model BPOR.Rms.Models.Filter.VolunteerFilterViewModel

<div class="govuk-form-group">
    @Html.LabelFor(m => Model.SelectedHealthConditions, new { @class = "govuk-label govuk-label--l", @for = "searchInput" })
    <div id="location-hint" class="govuk-hint">
        <p>Leave blank to include all volunteers and those who have not specified any areas of research. Enter one or more areas of research to refine by interests.</p>

        <p>If you are using a keyboard to navigate, you will need to use the tab key to move through the options in the drop-down list on this section. Use the escape key to close the list.</p>
    </div>

    <input type="text" class="govuk-input nihr-option-search" id="searchInput" placeholder="Search..." data-option-class="area-of-research-option">

    <fieldset class="govuk-fieldset">
        <div class="govuk-checkboxes research-areas-list" id="areas-of-research-container" data-module="govuk-checkboxes">
            @foreach (var item in Model.HealthConditions)
            {
                <div class="govuk-checkboxes__item area-of-research-option" data-search-value="@item.Text.ToLowerInvariant()">
                    <input type="checkbox" class="govuk-checkboxes__input" id="@item.Value" name="SelectedHealthConditions" value="@item.Value" @(Model.SelectedHealthConditions != null && Model.SelectedHealthConditions.Contains(item.Value) ? "checked" : "") />
                    <label for="@item.Value" class="govuk-label govuk-checkboxes__label">@item.Text</label>
                </div>
            }
        </div>
    </fieldset>
</div>