@model BPOR.Rms.Models.Filter.VolunteerFilterViewModel

<h2 class="govuk-heading-l">Demographic</h2>
<div class="govuk-form-group">
    <h3 class="govuk-label govuk-label--l">
        Age range
    </h3>
    <div id="event-name-hint" class="govuk-hint">
        Please specify the age range you wish to filter. The minimum starting age is 18.
    </div>
    <div class="govuk-grid-row-age-range">
        <div class="govuk-form-group">
            <div class="govuk-age-input__item">
                <label class="govuk-label" for="txtAgeFrom">
                    From
                </label>
                <input class="govuk-input govuk-age-input__input govuk-input--width-10" id="txtAgeFrom" name="txtAgeFrom" type="text" />
            </div>
            <div class="govuk-age-input__item">
                <label class="govuk-label" for="txtAgeTo">
                    To
                </label>
                <input class="govuk-input govuk-age-input__input govuk-input--width-10" id="txtAgeTo" name="txtAgeTo" type="text" />
            </div>
        </div>
    </div>
</div>
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h3 class="govuk-label govuk-label--l">
                Sex registered at birth
            </h3>
        </legend>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            @* @Html.ValidationMessageFor(model => model.IsSexMale) *@

            <div class="govuk-checkboxes__item">
                <input asp-for="IsSexMale" class="govuk-checkboxes__input" id="IsSexMale" type="checkbox" />
                @Html.LabelFor(m => Model.IsSexMale, new { @class = "govuk-label govuk-checkboxes__label" })
            </div>

            <div class="govuk-checkboxes__item">
                <input asp-for="IsSexFemale" class="govuk-checkboxes__input" id="IsSexFemale" type="checkbox" />
                @Html.LabelFor(m => Model.IsSexFemale, new { @class = "govuk-label govuk-checkboxes__label" })
            </div>
        </div>
    </fieldset>
</div>
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h3 class="govuk-label govuk-label--l">
                Is gender same as sex registered at birth?
            </h3>
        </legend>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input asp-for="IsGenderSameAsSexRegisteredAtBirth_Yes" class="govuk-checkboxes__input" id="IsGenderSameAsSexRegisteredAtBirth_Yes" type="checkbox" />
                @Html.LabelFor(m => Model.IsGenderSameAsSexRegisteredAtBirth_Yes, new { @class = "govuk-label govuk-checkboxes__label" })
            </div>
            <div class="govuk-checkboxes__item">
                <input asp-for="IsGenderSameAsSexRegisteredAtBirth_No" class="govuk-checkboxes__input" id="IsGenderSameAsSexRegisteredAtBirth_No" type="checkbox" />
                @Html.LabelFor(m => Model.IsGenderSameAsSexRegisteredAtBirth_No, new { @class = "govuk-label govuk-checkboxes__label" })
            </div>
            <div class="govuk-checkboxes__item">
                <input asp-for="IsGenderSameAsSexRegisteredAtBirth_PreferNotToSay" class="govuk-checkboxes__input" id="IsGenderSameAsSexRegisteredAtBirth_PreferNotToSay" type="checkbox" />
                @Html.LabelFor(m => Model.IsGenderSameAsSexRegisteredAtBirth_PreferNotToSay, new { @class = "govuk-label govuk-checkboxes__label" })
            </div>
        </div>
    </fieldset>
</div>
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h3 class="govuk-label govuk-label--l">
                Ethnic group
            </h3>
        </legend>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input asp-for="Ethnicity_Asian" class="govuk-checkboxes__input" id="Ethnicity_Asian" type="checkbox" />
                @Html.LabelFor(m => Model.Ethnicity_Asian, new { @class = "govuk-label govuk-checkboxes__label" })
            </div>
            <div class="govuk-checkboxes__item">
                <input asp-for="Ethnicity_Black" class="govuk-checkboxes__input" id="Ethnicity_Black" type="checkbox" />
                @Html.LabelFor(m => Model.Ethnicity_Black, new { @class = "govuk-label govuk-checkboxes__label" })
            </div>
            <div class="govuk-checkboxes__item">
                <input asp-for="Ethnicity_Mixed" class="govuk-checkboxes__input" id="Ethnicity_Mixed" type="checkbox" />
                @Html.LabelFor(m => Model.Ethnicity_Mixed, new { @class = "govuk-label govuk-checkboxes__label" })
            </div>
            <div class="govuk-checkboxes__item">
                <input asp-for="Ethnicity_Other" class="govuk-checkboxes__input" id="Ethnicity_Other" type="checkbox" />
                @Html.LabelFor(m => Model.Ethnicity_Other, new { @class = "govuk-label govuk-checkboxes__label" })
            </div>
            <div class="govuk-checkboxes__item">
                <input asp-for="Ethnicity_White" class="govuk-checkboxes__input" id="Ethnicity_White" type="checkbox" />
                @Html.LabelFor(m => Model.Ethnicity_White, new { @class = "govuk-label govuk-checkboxes__label" })
            </div>
        </div>
    </fieldset>
</div>
