@using NIHR.Infrastructure.Paging
@using BPOR.Rms.Models.Filter
@using System.Globalization
@model Page<VolunteerResult>

@{
    var ci = new CultureInfo("en-GB");
}

<div id="volunteer-results">
    @if (Model.Any())
    {
        <table class="govuk-table" style="width: 100%;">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Id</th>
                    <th scope="col" class="govuk-table__header">Completed Registration</th>
                    <th scope="col" class="govuk-table__header">Registration Date</th>
                    <th scope="col" class="govuk-table__header">Age</th>
                    <th scope="col" class="govuk-table__header">Gender</th>
                    <th scope="col" class="govuk-table__header">Is Sex Same As Registered At Birth</th>
                    <th scope="col" class="govuk-table__header">Ethnic Group</th>
                    <th scope="col" class="govuk-table__header">Areas of Research</th>
                    <th scope="col" class="govuk-table__header">Postcode</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var volunteer in Model.Items)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            @volunteer.Id
                        </td>
                        <td class="govuk-table__cell">
                            @volunteer.HasCompletedRegistration
                        </td>
                        <td class="govuk-table__cell">
                            @if (volunteer.HasRegistered.HasValue)
                            {
                                @volunteer.HasRegistered.Value.ToString("d", ci);
                            }          
                        </td>
                        <td class="govuk-table__cell">
                            @volunteer.Age
                        </td>
                        <td class="govuk-table__cell">
                            @volunteer.Gender
                        </td>
                        <td class="govuk-table__cell">
                            @volunteer.GenderIsSameAsSexRegisteredAtBirth
                        </td>
                        <td class="govuk-table__cell">
                            @volunteer.EthnicGroup
                        </td>
                        <td class="govuk-table__cell">
                            <div class="pill-container pill-container-column">
                            @foreach(var area in volunteer.AreasOfResearch)
                            {
                                <div class="pill">@(area)</div>
                            }
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <span class="post-code">@volunteer.Postcode</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <pagination anchor-id="volunteer-results-list" />
    }
    else
    {
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                No Results
            </strong>
        </div>
    }
</div>
