@using NIHR.Infrastructure.Paging
@using BPOR.Rms.Models.Filter
@model Page<VolunteerResult>

<div id="volunteer-results">
    @if (Model.Any())
    {
        <table class="govuk-table" style="width: 100%;">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Id</th>
                    <th scope="col" class="govuk-table__header">Email</th>
                    <th scope="col" class="govuk-table__header">Completed Registration</th>
                    <th scope="col" class="govuk-table__header">Registration Date</th>
                    <th scope="col" class="govuk-table__header">Postcode</th>
                    <th scope="col" class="govuk-table__header">Age</th>
                    <th scope="col" class="govuk-table__header">Gender</th>
                    <th scope="col" class="govuk-table__header">Is Sex Same As Registered At Birth</th>
                    <th scope="col" class="govuk-table__header">Ethnic Group</th>
                    <th scope="col" class="govuk-table__header">Areas of Research</th>
                    <th scope="col" class="govuk-table__header">Postcode</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var volunteer in Model.Items)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            @volunteer.Id
                        </td>
                        <td class="govuk-table__cell">
                            @volunteer.Email
                        </td>
                        <td class="govuk-table__cell">
                            @volunteer.HasCompletedRegistration
                        </td>
                        <td class="govuk-table__cell">
                            @volunteer.HasRegistered
                        </td>
                        <td class="govuk-table__cell">
                            @volunteer.Postcode
                        </td>
                        <td class="govuk-table__cell">
                            @volunteer.Age
                        </td>
                        <td class="govuk-table__cell">
                            @volunteer.Gender
                        </td>
                        <td class="govuk-table__cell">
                            @volunteer.GenderIsSameAsSexRegisteredAtBirth
                        </td>
                        <td class="govuk-table__cell">
                            @volunteer.EthnicGroup
                        </td>
                        <td class="govuk-table__cell">
                            @string.Join(", ", volunteer.AreasOfResearch);
                        </td>
                        <td class="govuk-table__cell">
                            @volunteer.Postcode
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @await Html.PartialAsync("_Pagination", Model)
    }
    else
    {
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                No Results
            </strong>
        </div>
    }
</div>
