@model BPOR.Rms.Models.Filter.VolunteerFilterViewModel

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="registration-date-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h3 class="govuk-label govuk-label--l">
                Date of volunteer registration
            </h3>
        </legend>
        <div id="registration-date-hint" class="govuk-hint">
            Enter to and from dates to filter volunteers by the date their account was created.
        </div>

        <div class="govuk-form-group  @(Html.ViewData.ModelState["RegistrationFromDateDay"]?.Errors.Count > 0 || Html.ViewData.ModelState["RegistrationFromDateMonth"]?.Errors.Count > 0 || Html.ViewData.ModelState["RegistrationFromDateYear"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
            <h4 class="govuk-label govuk-label--m">From</h4>
            @if (Html.ViewData.ModelState["RegistrationFromDateDay"]?.Errors.Count > 0)
            {
                <span id="RegistrationFromDateDay-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    @Html.ValidationMessageFor(model => model.RegistrationFromDate.Day)
                </span>
            }
            @if (Html.ViewData.ModelState["RegistrationFromDateMonth"]?.Errors.Count > 0)
            {
                <span id="RegistrationFromDateMonth-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    @Html.ValidationMessageFor(model => model.RegistrationFromDate.Month)
                </span>
            }
            @if (Html.ViewData.ModelState["RegistrationFromDateYear"]?.Errors.Count > 0)
            {
                <span id="RegistrationFromDateYear-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    @Html.ValidationMessageFor(model => model.RegistrationFromDate.Year)
                </span>
            }
            <div class="govuk-date-input" id="registration-date-from">
                <!-- Day -->
                <div class="govuk-date-input__item">
                    <label class="govuk-label govuk-label--n" asp-for="RegistrationFromDate.Day">@Html.DisplayNameFor(model => model.RegistrationFromDate.Day)</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-3" asp-for="RegistrationFromDate.Day" autocomplete="off" type="text" inputmode="numeric">

                </div>
                <!-- Month -->
                <div class="govuk-date-input__item">
                    <label class="govuk-label govuk-label--n" asp-for="RegistrationFromDate.Month">@Html.DisplayNameFor(model => model.RegistrationFromDate.Month)</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-3" asp-for="RegistrationFromDate.Month" autocomplete="off" type="text" inputmode="numeric">

                </div>
                <!-- Year -->
                <div class="govuk-date-input__item">
                    <label class="govuk-label govuk-label--n" asp-for="RegistrationFromDate.Year">@Html.DisplayNameFor(model => model.RegistrationFromDate.Year)</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="RegistrationFromDate.Year" autocomplete="off" type="text" inputmode="numeric">

                </div>
            </div>
        </div>

        <div class="govuk-form-group  @(Html.ViewData.ModelState["RegistrationToDateDay"]?.Errors.Count > 0 || Html.ViewData.ModelState["RegistrationToDateMonth"]?.Errors.Count > 0 || Html.ViewData.ModelState["RegistrationToDateYear"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
            <h4 class="govuk-label govuk-label--m">To</h4>
            @if (Html.ViewData.ModelState["RegistrationToDateDay"]?.Errors.Count > 0)
            {
                <span id="RegistrationFromDateDay-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    @Html.ValidationMessageFor(model => model.RegistrationToDate.Day)
                </span>
            }
            @if (Html.ViewData.ModelState["RegistrationToDateMonth"]?.Errors.Count > 0)
            {
                <span id="RegistrationFromDateMonth-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    @Html.ValidationMessageFor(model => model.RegistrationToDate.Month)
                </span>
            }
            @if (Html.ViewData.ModelState["RegistrationToDateYear"]?.Errors.Count > 0)
            {
                <span id="RegistrationFromDateYear-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    @Html.ValidationMessageFor(model => model.RegistrationToDate.Year)
                </span>
            }
            <div class="govuk-date-input" id="registration-date-to">
                <!-- Day -->
                <div class="govuk-date-input__item">
                    <label class="govuk-label govuk-label--n" asp-for="RegistrationToDate.Day">@Html.DisplayNameFor(model => model.RegistrationToDate.Day)</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-3" asp-for="RegistrationToDate.Day" autocomplete="off" type="text" inputmode="numeric">

                </div>
                <!-- Month -->
                <div class="govuk-date-input__item">
                    <label class="govuk-label govuk-label--n" asp-for="RegistrationToDate.Month">@Html.DisplayNameFor(model => model.RegistrationToDate.Month)</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-3" asp-for="RegistrationToDate.Month" autocomplete="off" type="text" inputmode="numeric">

                </div>
                <!-- Year -->
                <div class="govuk-date-input__item">
                    <label class="govuk-label govuk-label--n" asp-for="RegistrationToDate.Year">@Html.DisplayNameFor(model => model.RegistrationToDate.Year)</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="RegistrationToDate.Year" autocomplete="off" type="text" inputmode="numeric">

                </div>
            </div>
        </div>
    </fieldset>
</div>