@model BPOR.Rms.Models.Filter.VolunteerFilterViewModel

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="registration-date-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h3 class="govuk-label govuk-label--l">
                Date of volunteer registration
            </h3>
        </legend>
        <div id="registration-date-hint" class="govuk-hint">
            Enter to and from dates to filter volunteers by the date their account was created.
        </div>

        <div class="govuk-form-group  @(Html.ViewData.ModelState["RegistrationFromDateDay"]?.Errors.Count > 0 || Html.ViewData.ModelState["RegistrationFromDateMonth"]?.Errors.Count > 0 || Html.ViewData.ModelState["RegistrationFromDateYear"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
            <h4 class="govuk-label govuk-label--m">From</h4>
            @if (Html.ViewData.ModelState["RegistrationFromDateDay"]?.Errors.Count > 0)
            {
                <span id="RegistrationFromDateDay-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    @Html.ValidationMessageFor(model => model.RegistrationFromDateDay)
                </span>
            }
            @if (Html.ViewData.ModelState["RegistrationFromDateMonth"]?.Errors.Count > 0)
            {
                <span id="RegistrationFromDateMonth-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    @Html.ValidationMessageFor(model => model.RegistrationFromDateMonth)
                </span>
            }
            @if (Html.ViewData.ModelState["RegistrationFromDateYear"]?.Errors.Count > 0)
            {
                <span id="RegistrationFromDateYear-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    @Html.ValidationMessageFor(model => model.RegistrationFromDateYear)
                </span>
            }
            <div class="govuk-date-input" id="registration-date-from">
                <!-- Day -->
                <div class="govuk-date-input__item">
                    <label class="govuk-label govuk-label--n" asp-for="RegistrationFromDateDay">@Html.DisplayNameFor(model => model.RegistrationFromDateDay)</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-3" asp-for="RegistrationFromDateDay" autocomplete="off" type="number">

                </div>
                <!-- Month -->
                <div class="govuk-date-input__item">
                    <label class="govuk-label govuk-label--n" asp-for="RegistrationFromDateMonth">@Html.DisplayNameFor(model => model.RegistrationFromDateMonth)</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-3" asp-for="RegistrationFromDateMonth" autocomplete="off" type="number">

                </div>
                <!-- Year -->
                <div class="govuk-date-input__item">
                    <label class="govuk-label govuk-label--n" asp-for="RegistrationFromDateYear">@Html.DisplayNameFor(model => model.RegistrationFromDateYear)</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="RegistrationFromDateYear" autocomplete="off" type="number">

                </div>
            </div>
        </div>

        <div class="govuk-form-group  @(Html.ViewData.ModelState["RegistrationToDateDay"]?.Errors.Count > 0 || Html.ViewData.ModelState["RegistrationToDateMonth"]?.Errors.Count > 0 || Html.ViewData.ModelState["RegistrationToDateYear"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
            <h4 class="govuk-label govuk-label--m">To</h4>
            @if (Html.ViewData.ModelState["RegistrationToDateDay"]?.Errors.Count > 0)
            {
                <span id="RegistrationFromDateDay-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    @Html.ValidationMessageFor(model => model.RegistrationToDateDay)
                </span>
            }
            @if (Html.ViewData.ModelState["RegistrationToDateMonth"]?.Errors.Count > 0)
            {
                <span id="RegistrationFromDateMonth-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    @Html.ValidationMessageFor(model => model.RegistrationToDateMonth)
                </span>
            }
            @if (Html.ViewData.ModelState["RegistrationToDateYear"]?.Errors.Count > 0)
            {
                <span id="RegistrationFromDateYear-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    @Html.ValidationMessageFor(model => model.RegistrationToDateYear)
                </span>
            }
            <div class="govuk-date-input" id="registration-date-to">
                <!-- Day -->
                <div class="govuk-date-input__item">
                    <label class="govuk-label govuk-label--n" asp-for="RegistrationToDateDay">@Html.DisplayNameFor(model => model.RegistrationToDateDay)</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-3" asp-for="RegistrationToDateDay" autocomplete="off" type="number">

                </div>
                <!-- Month -->
                <div class="govuk-date-input__item">
                    <label class="govuk-label govuk-label--n" asp-for="RegistrationToDateMonth">@Html.DisplayNameFor(model => model.RegistrationToDateMonth)</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-3" asp-for="RegistrationToDateMonth" autocomplete="off" type="number">

                </div>
                <!-- Year -->
                <div class="govuk-date-input__item">
                    <label class="govuk-label govuk-label--n" asp-for="RegistrationToDateYear">@Html.DisplayNameFor(model => model.RegistrationToDateYear)</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="RegistrationToDateYear" autocomplete="off" type="number">

                </div>
            </div>
        </div>
    </fieldset>
</div>
