@model BPOR.Rms.Models.Filter.VolunteerFilterViewModel

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-label="Select which options to filter volunteers by">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

            @if (Model.ShowStudyFilters)
            {
                <div class="govuk-input_select__wrapper">
                    @Html.LabelFor(m => Model.SelectedVolunteersContacted, new { @class = "govuk-label exclusion_label" })
                    @Html.DropDownListFor(m => m.SelectedVolunteersContacted, Model.VolunteersContacted, new { @class = "govuk-select govuk-select-custom" })
                </div>

                <div class="govuk-input_select__wrapper">
                    @Html.LabelFor(m => Model.SelectedVolunteersRegisteredInterest, new { @class = "govuk-label exclusion_label" })
                    @Html.DropDownListFor(m => m.SelectedVolunteersRegisteredInterest, Model.VolunteersRegisteredInterest, new { @class = "govuk-select govuk-select-custom" })
                </div>

                <div class="govuk-input_select__wrapper">
                    @Html.LabelFor(m => Model.SelectedVolunteersRecruited, new { @class = "govuk-label exclusion_label" })
                    @Html.DropDownListFor(m => m.SelectedVolunteersRecruited, Model.VolunteersRecruited, new { @class = "govuk-select govuk-select-custom" })
                </div>
            }       

            <div class="govuk-input_select__wrapper">
                @Html.LabelFor(m => Model.SelectedVolunteersCompletedRegistration, new { @class = "govuk-label exclusion_label" })
                @Html.DropDownListFor(m => m.SelectedVolunteersCompletedRegistration, Model.VolunteersCompletedRegistration, new { @class = "govuk-select govuk-select-custom" })
            </div>
  
        </legend>      
    </fieldset>
</div>
