@model BPOR.Rms.Models.Filter.VolunteerFilterViewModel

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-label="Select which options to filter volunteers by">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

            <div class="govuk-input_select__wrapper">
                @Html.LabelFor(m => Model.VolunteersContacted, new { @class = "govuk-label govuk-checkboxes__label exclusion_label" })
                @Html.DropDownListFor(m => m.SelectedVolunteersContacted, Model.VolunteersContacted, new { @class = "govuk-select" })
            </div>

            <div class="govuk-input_select__wrapper">
                @Html.LabelFor(m => Model.VolunteersRegisteredInterest, new { @class = "govuk-label govuk-checkboxes__label exclusion_label" })
                @Html.DropDownListFor(m => m.SelectedVolunteersRegisteredInterest, Model.VolunteersRegisteredInterest, new { @class = "govuk-select" })
            </div>

            <div class="govuk-input_select__wrapper">
                @Html.LabelFor(m => Model.VolunteersRecruited, new { @class = "govuk-label govuk-checkboxes__label exclusion_label" })
                @Html.DropDownListFor(m => m.SelectedVolunteersRecruited, Model.VolunteersRecruited, new { @class = "govuk-select" })
            </div>

            <div class="govuk-input_select__wrapper">
                @Html.LabelFor(m => Model.VolunteersCompletedRegistration, new { @class = "govuk-label govuk-checkboxes__label exclusion_label" })
                @Html.DropDownListFor(m => m.SelectedVolunteersCompletedRegistration, Model.VolunteersCompletedRegistration, new { @class = "govuk-select" })
            </div>
  
        </legend>      
    </fieldset>
</div>
