@model BPOR.Rms.Models.Study.StudyDetailsViewModel
@using BPOR.Domain.Enums;

<div>
    @if (Model.Study is null)
    {
        <h2 class="govuk-heading-l govuk-!-margin-bottom-4">
            Emails sent</h2>
    }
    else
    {
        <h2 class="govuk-heading-l govuk-!-margin-bottom-4">
            Campaigns sent</h2>
    }
    <table class="govuk-table" style="width: 100%;">

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header ">Date/time sent</th>
                <th scope="col" class="govuk-table__header ">Campaign type</th>
                <th scope="col" class="govuk-table__header ">Template</th>
                <th scope="col" class="govuk-table__header ">Number contacted</th>
                <th scope="col" class="govuk-table__header ">Registered interest</th>
                <th scope="col" class="govuk-table__header ">Bounced</th>
                <th scope="col" class="govuk-table__header ">Status</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
        @foreach (var campaign in Model.Campaigns)
            {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    @campaign.CreatedAt.ToString("dd/MM/yyyy, HH:mm")
                </td>
                @if (Model.Study is not null)
                {
                    <td class="govuk-table__cell">@campaign.TypeId.ToString()</td>
                }
                <td class="govuk-table__cell">@campaign.Name</td>
                <td class="govuk-table__cell">@campaign.TotalCampaignNotificationsSent / @campaign.TargetGroupSize</td>


                <td class="govuk-table__cell">
                    @if (@campaign.TypeId == ContactMethodId.Letter)
                    {
                        @:Not applicable
                    }
                    else
                    {
                        @campaign.TotalCampaignRegisteredInterest
                    }
                            </td>


                <td class="govuk-table__cell">
                    @if (@campaign.TypeId == ContactMethodId.Letter)
                    {
                        @:Not applicable
                    }
                    else
                    {
                        @campaign.TotalContactAttemptsFailed
                    }

                </td>
                <td class="govuk-table__cell">
                    @if (campaign.TotalCampaignNotificationsSent < campaign.TargetGroupSize)
                    {
                        <strong class="govuk-tag govuk-tag--orange">
                            In progress
                        </strong>
                    }
                    else if (campaign.TotalCampaignNotificationsSent >= campaign.TargetGroupSize)
                    {
                        <strong class="govuk-tag govuk-tag--green">
                            Sent
                        </strong>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>

    @if (Model.Study is null)
    {
        <pagination for="Campaigns" />
    }    
</div>
