@model BPOR.Rms.Models.Study.StudyDetailsViewModel

@{
    var isResearcherCompleted = !string.IsNullOrWhiteSpace(Model.Study.ChiefInvestigator);
}

<div>
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Study details</h2>
    <dl class="govuk-summary-list">
        <summary-list-item asp-for="@Model.Study.Id"
                           asp-action-url="@(Model.IsResearcher ? null : Url.Action("Edit", "Study", new { id = Model.Study.Id, field = 2 }))">
        </summary-list-item>

        <summary-list-item asp-for="@Model.IsRecruitingIdentifiableParticipantsDisplay"></summary-list-item>

        <summary-list-item asp-for="@Model.Study.StudyName"
                           asp-action-url="@(Model.IsResearcher ? (isResearcherCompleted ? Url.Action("Edit", "Researcher", new { id = Model.Study.Id, field = 1 }) : null) : Url.Action("Edit", "Study", new { id = Model.Study.Id, field = 1 }))">
        </summary-list-item>

        <summary-list-item asp-for="@Model.Study.CpmsId"
                           asp-action-url="@(Model.IsResearcher ? null : (isResearcherCompleted ? Url.Action("Edit", "Researcher", new { id = Model.Study.Id, field = 3 }) : Url.Action("Edit", "Study", new { id = Model.Study.Id, field = 2 })))">
        </summary-list-item>

        <summary-list-item asp-for="@Model.Study.FullName"
                           asp-action-url="@(Model.IsResearcher ? null : Url.Action("Edit", "Study", new { id = Model.Study.Id, field = 1 }))">
        </summary-list-item>

        <summary-list-item asp-for="@Model.Study.EmailAddress"
                           asp-action-url="@(Model.IsResearcher ? null : Url.Action("Edit", "Study", new { id = Model.Study.Id, field = 1 }))">
        </summary-list-item>

        @if (isResearcherCompleted)
        {
            <summary-list-item asp-for="@Model.Study.ChiefInvestigator"></summary-list-item>
            <summary-list-item asp-for="@Model.Study.StudySponsors"
                               asp-action-url="@Url.Action("Edit", "Researcher", new { id = Model.Study.Id, field = 1 })">
            </summary-list-item>
            <summary-list-item asp-for="@Model.Study.PortfolioSubmissionStatus"
                               asp-action-url="@Url.Action("Edit", "Researcher", new { id = Model.Study.Id, field = 2 })">
            </summary-list-item>
            <summary-list-item asp-for="@Model.Study.OutcomeOfSubmission"
                               asp-action-url="@Url.Action("Edit", "Researcher", new { id = Model.Study.Id, field = 3 })">
            </summary-list-item>
            <summary-list-item asp-for="@Model.HasFundingDisplay"
                               asp-action-url="@Url.Action("Edit", "Researcher", new { id = Model.Study.Id, field = 4 })">
            </summary-list-item>
            <summary-list-item asp-for="@Model.Study.FundingCode"
                               asp-action-url="@Url.Action("Edit", "Researcher", new { id = Model.Study.Id, field = 5 })">
            </summary-list-item>
            <summary-list-item asp-for="@Model.Study.UKRecruitmentTarget"
                               asp-action-url="@Url.Action("Edit", "Researcher", new { id = Model.Study.Id, field = 6 })">
            </summary-list-item>
            <summary-list-item asp-for="@Model.Study.TargetPopulation"
                               asp-action-url="@Url.Action("Edit", "Researcher", new { id = Model.Study.Id, field = 6 })">
            </summary-list-item>
            <summary-list-item asp-for="@Model.Study.RecruitmentStartDate"
                               asp-action-url="@Url.Action("Edit", "Researcher", new { id = Model.Study.Id, field = 7 })">
            </summary-list-item>
            <summary-list-item asp-for="@Model.Study.RecruitmentEndDate"
                               asp-action-url="@Url.Action("Edit", "Researcher", new { id = Model.Study.Id, field = 7 })">
            </summary-list-item>
        }
    </dl>
</div>
