@using BPOR.Domain.Enums
@model BPOR.Rms.Models.Study.StudyDetailsViewModel


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Volunteers</h2>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-0">
            Recruited (
            @if (Model.Study.IsRecruitingIdentifiableParticipants)
            {
                @Model.TotalRecruited
            }
            else
            {
                @Model.LatestRecruitmentTotal
            }
            )
        </h3>
    </div>
    <div class="govuk-grid-column-one-half right-align-buttons-desktop">
        <div class="govuk-button-group govuk-!-margin-bottom-0">
            @if (!Model.Study.IsRecruitingIdentifiableParticipants)
            {
                if (Model.HasCampaigns)
                {
                    <a asp-action="UpdateAnonymousRecruited" asp-controller="Volunteer" asp-route-StudyId="@Model.Study.Id" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Update recruitment total</a>
                }
                else
                {
                    <a asp-action="UpdateAnonymousRecruited" asp-controller="Volunteer" asp-route-StudyId="@Model.Study.Id" role="button" draggable="false" class="govuk-button" data-module="govuk-button" role-disable="@UserRole.Researcher">Update recruitment total</a>
                }
            }
            else
            {
                if (Model.HasCampaigns)
                {
                    <a asp-action="UpdateRecruited" asp-controller="Volunteer" asp-route-StudyId="@Model.Study.Id" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Add enrolments</a>
                }
                else
                {
                    <a asp-action="UpdateRecruited" asp-controller="Volunteer" asp-route-StudyId="@Model.Study.Id" role="button" draggable="false" class="govuk-button" data-module="govuk-button" role-disable="@UserRole.Researcher, @UserRole.Admin">Add enrolments</a>
                }
            }
        </div>
    </div>
    <div class="govuk-grid-column-full"> <partial name="Partials/_RecruitedTable" for="EnrollmentDetails" /></div>

</div>
