@using BPOR.Domain.Enums
@model BPOR.Rms.Models.Study.StudyDetailsViewModel

@{
    var isIdentifiable = Model.Study.IsRecruitingIdentifiableParticipants;
    var action = isIdentifiable ? "UpdateRecruited" : "UpdateAnonymousRecruited";
    var buttonText = isIdentifiable ? "Add enrolments" : "Update recruitment total";
    var roleFilter = !Model.HasCampaigns ? isIdentifiable ? $"{UserRole.Researcher}, {UserRole.Admin}" : $"{UserRole.Researcher}" : null;
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Volunteers</h2>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-0">
            Recruited (
            @if (Model.Study.IsRecruitingIdentifiableParticipants)
            {
                @Model.TotalRecruited
            }
            else
            {
                @Model.LatestRecruitmentTotal
            }
            )
        </h3>
    </div>
    <div class="govuk-grid-column-one-half right-align-buttons-desktop">
        <div class="govuk-button-group govuk-!-margin-bottom-0">
            <a asp-action="@action" 
               asp-controller="Volunteer" 
               asp-route-StudyId="@Model.Study.Id" 
               role="button" 
               draggable="false" 
               class="govuk-button" 
               data-module="govuk-button"
               role-exclude="@roleFilter">@buttonText</a>
        </div>
        @if (!Model.HasCampaigns)
        {
            <div class="govuk-inset-text" role-include="@roleFilter">
                A campaign must be sent before volunteer numbers can be added.
            </div>
        }
    </div>
    <div class="govuk-grid-column-full"> <partial name="Partials/_RecruitedTable" for="EnrollmentDetails" /></div>
</div>
