@model BPOR.Rms.Models.Researcher.ResearcherStudyFormViewModel


@{
    ViewData["Title"] = "Submit a study";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-grid-column-one-half-from-desktop">

        <form asp-action="SubmitStudy" back-link-for="Step">
            @if (ViewData["Step"] is not null && ViewData["TotalSteps"] is not null)
            {
                var step = ViewData["Step"] as int?;
                var totalSteps = ViewData["TotalSteps"] as int?;
                if (step < totalSteps)
                {
                    <span class="govuk-caption-xl">Question @step of @(totalSteps - 1)</span>
                }
            }
            <div style="@(Model.Step == 1 ? "" : "display:none;")">
                @await Html.PartialAsync("Partials/_Step1FormFields", Model)
            </div>

            <div style="@(Model.Step == 2 ? "" : "display:none;")">
                @await Html.PartialAsync("Partials/_Step2FormFields", Model)
            </div>

            <div style="@(Model.Step == 3 ? "" : "display:none;")">
                @await Html.PartialAsync("Partials/_Step3FormFields", Model)
            </div>

            <div style="@(Model.Step == 4 ? "" : "display:none;")">
                @await Html.PartialAsync("Partials/_Step4FormFields", Model)
            </div>

            <div style="@(Model.Step == 5 ? "" : "display:none;")">
                @await Html.PartialAsync("Partials/_Step5FormFields", Model)
            </div>

            <div style="@(Model.Step == 6 ? "" : "display:none;")">
                @await Html.PartialAsync("Partials/_Step6FormFields", Model)
            </div>

            <div style="@(Model.Step == 7 ? "" : "display:none;")">
                @await Html.PartialAsync("Partials/_Step7FormFields", Model)
            </div>

            @if (Model.Step == 8)
            {
                <div style="@(Model.Step == 8 ? "" : "display:none;")">
                    @await Html.PartialAsync("Partials/_Step8FormFields", Model)
                </div>
            }

            <div class="govuk-button-group">
                @if (!Model.Completed)
                {
                    @if (Model.Step != Model.TotalSteps)
                    {
                        <button type="submit" name="action" value="Next" class="govuk-button" data_module="govuk-button">Next</button>
                    }
                    else
                    {
                        <button type="submit" name="action" value="Apply" class="govuk-button" data_module="govuk-button">Apply</button>
                    }
                }
                else
                {
                    @if (Model.Step != Model.TotalSteps)
                    {
                        <button type="submit" name="action" value="Next" class="govuk-button" data_module="govuk-button">Confirm</button>
                    }
                    else
                    {
                        <button type="submit" name="action" value="Apply" class="govuk-button" data_module="govuk-button">Apply</button>
                    }
                }
            </div>

            <input type="hidden" asp-for="Step" value="@Model.Step" />
            <input type="hidden" asp-for="Completed" value="@Model.Completed" />
        </form>

    </div>
</div>