@model BPOR.Rms.Models.Researcher.ResearcherStudyFormViewModel

<style>
    .link-button {
        background: none;
        border: none;
        color: rgb(29, 112, 184);
        text-decoration: none;
        cursor: pointer;
        font-size: inherit;
        font-family: inherit;
        padding: 0;
    }

        .link-button:hover,
        .link-button:focus {
            color: #003078;
        }

        .link-button:active {
            color: #002060;
        }
</style>

<h1 class="govuk-heading-xl">
    Check your answers before submitting the study
</h1>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>
        <dd class="govuk-summary-list__value">
            @(Model.ShortName)
        </dd>
        <dd class="govuk-summary-list__actions">
            <button type="submit" name="action" value="RedirectStep1" class="link-button">Change</button>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.ChiefInvestigator)
        </dt>
        <dd class="govuk-summary-list__value">
            @(Model.ChiefInvestigator)
        </dd>
        <dd class="govuk-summary-list__actions">
            <button type="submit" name="action" value="RedirectStep1" class="link-button">Change</button>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.StudySponsors)
        </dt>
        <dd class="govuk-summary-list__value">
            @(Model.StudySponsors)
        </dd>
        <dd class="govuk-summary-list__actions">
            <button type="submit" name="action" value="RedirectStep1" class="link-button">Change</button>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.PortfolioSubmissionStatus)
        </dt>
        <dd class="govuk-summary-list__value">
            @(Model.PortfolioSubmissionStatusOptions?.Where(o => o.Id == Model.PortfolioSubmissionStatus).Select(o => o.Description).FirstOrDefault())
        </dd>
        <dd class="govuk-summary-list__actions">
            <button type="submit" name="action" value="RedirectStep2" class="link-button">Change</button>
        </dd>
    </div>
    @if (Model.PortfolioSubmissionStatus.HasValue)
    {
        if (Model.PortfolioSubmissionStatus == 1)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.OutcomeOfSubmission)
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.OutcomeOfSubmissionOptions?.Where(o => o.Id == Model.OutcomeOfSubmission).Select(o => o.Description).FirstOrDefault())
                </dd>
                <dd class="govuk-summary-list__actions">
                    <button type="submit" name="action" value="RedirectStep3" class="link-button">Change</button>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.CPMSId)
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.CPMSId)
                </dd>
                <dd class="govuk-summary-list__actions">
                    <button type="submit" name="action" value="RedirectStep3" class="link-button">Change</button>
                </dd>
            </div>
        }
    }
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.HasFunding)
        </dt>
        <dd class="govuk-summary-list__value">
            @(Model.HasFunding.HasValue ? (Model.HasFunding.Value ? "Yes" : "No") : "No")
        </dd>
        <dd class="govuk-summary-list__actions">
            <button type="submit" name="action" value="RedirectStep4" class="link-button">Change</button>
        </dd>
    </div>
    @if (Model.HasFunding.HasValue)
    {
        if (Model.HasFunding.Value)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.FundingCode)
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.FundingCode)
                </dd>
                <dd class="govuk-summary-list__actions">
                    <button type="submit" name="action" value="RedirectStep5" class="link-button">Change</button>
                </dd>
            </div>
        }
    }
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.UKRecruitmentTarget)
        </dt>
        <dd class="govuk-summary-list__value">
            @(Model.UKRecruitmentTarget)
        </dd>
        <dd class="govuk-summary-list__actions">
            <button type="submit" name="action" value="RedirectStep6" class="link-button">Change</button>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.TargetPopulation)
        </dt>
        <dd class="govuk-summary-list__value">
            @(Model.TargetPopulation)
        </dd>
        <dd class="govuk-summary-list__actions">
            <button type="submit" name="action" value="RedirectStep6" class="link-button">Change</button>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Recruitment Start Date
        </dt>
        <dd class="govuk-summary-list__value">
            @(Model.RecruitmentStartDate.ToDateOnly())
        </dd>
        <dd class="govuk-summary-list__actions">
            <button type="submit" name="action" value="RedirectStep7" class="link-button">Change</button>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Recruitment End Date
        </dt>
        <dd class="govuk-summary-list__value">
            @(Model.RecruitmentEndDate.ToDateOnly())
        </dd>
        <dd class="govuk-summary-list__actions">
            <button type="submit" name="action" value="RedirectStep7" class="link-button">Change</button>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.RecruitingIdentifiableVolunteers)
        </dt>
        <dd class="govuk-summary-list__value">
            @(Model.RecruitingIdentifiableVolunteers.HasValue ? (Model.RecruitingIdentifiableVolunteers.Value ? "Yes" : "No") : "No")
        </dd>
        <dd class="govuk-summary-list__actions">
            <button type="submit" name="action" value="RedirectStep7" class="link-button">Change</button>
        </dd>
    </div>
</dl>