@model BPOR.Rms.Models.Researcher.ResearcherStudyFormViewModel

<h1 class="govuk-heading-xl">
    NIHR Clinical Research Network (CRN) portfolio status
</h1>

<div class="govuk-form-group @(Html.ViewData.ModelState["OutcomeOfSubmission"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
    <label asp-for="OutcomeOfSubmission" class="govuk-label" for="OutcomeOfSubmission">
        @Html.DisplayNameFor(model => model.OutcomeOfSubmission)
    </label>

    <div class="govuk-radios" data-module="govuk-radios">
        @if (Model.OutcomeOfSubmissionOptions != null)
        {
            foreach (var option in Model.OutcomeOfSubmissionOptions)
            {
                <div class="govuk-radios__item">
                    @Html.RadioButtonFor(m => m.OutcomeOfSubmission, option.Id, new { @class = "govuk-radios__input" })
                    @Html.Label(option.Description, option.Description, new { @class = "govuk-label govuk-radios__label" })
                </div>
            }
        }
    </div>
</div>

<div class="govuk-form-group @(Html.ViewData.ModelState["CPMSId"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
    <label asp-for="CPMSId" class="govuk-label" for="CPMSId">
        @Html.DisplayNameFor(model => model.CPMSId)
    </label>
    <div id="event-name-hint" class="govuk-hint">
        Enter the study CPMS ID, for example 12345
    </div>
    @if (Html.ViewData.ModelState["CPMSId"]?.Errors.Count > 0)
    {
        <span id="CPMSId-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            @Html.ValidationMessageFor(model => model.CPMSId)
        </span>
        <input asp-for="CPMSId" class="govuk-input  govuk-input govuk-input--error" id="CPMSId" aria-describedby="CPMSId-error" value="@(Model.CPMSId)" />
    }
    else
    {
        <input asp-for="CPMSId" class=" govuk-input" id="CPMSId" value="@(Model.CPMSId)" />
    }
</div>