@model BPOR.Rms.Models.Researcher.ResearcherStudyFormViewModel

<h1 class="govuk-heading-xl">
    Study information
</h1>

<div class="govuk-form-group @(Html.ViewData.ModelState["ShortName"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
    <label asp-for="ShortName" class="govuk-label" for="ShortName">
        @Html.DisplayNameFor(model => model.ShortName)
    </label>
    @if (Html.ViewData.ModelState["ShortName"]?.Errors.Count > 0)
    {
        <span id="ShortName-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            @Html.ValidationMessageFor(model => model.ShortName)
        </span>
        <input asp-for="ShortName" class="govuk-input  govuk-input govuk-input--error" id="ShortName" aria-describedby="ShortName-error" value="@(Model.ShortName)" />
    }
    else
    {
        <input asp-for="ShortName" class=" govuk-input" id="ShortName" value="@(Model.ShortName)" />
    }
</div>


<div class="govuk-form-group @(Html.ViewData.ModelState["ChiefInvestigator"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
    <label asp-for="ChiefInvestigator" class="govuk-label" for="ChiefInvestigator">
        @Html.DisplayNameFor(model => model.ChiefInvestigator)
    </label>
    @if (Html.ViewData.ModelState["ChiefInvestigator"]?.Errors.Count > 0)
    {
        <span id="ChiefInvestigator-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            @Html.ValidationMessageFor(model => model.ChiefInvestigator)
        </span>
        <input asp-for="ChiefInvestigator" class="govuk-input  govuk-input govuk-input--error" id="ChiefInvestigator" aria-describedby="ChiefInvestigator-error" value="@(Model.ChiefInvestigator)" />
    }
    else
    {
        <input asp-for="ChiefInvestigator" class=" govuk-input" id="ChiefInvestigator" value="@(Model.ChiefInvestigator)" />
    }
</div>


<div class="govuk-form-group @(Html.ViewData.ModelState["StudySponsors"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
    <label asp-for="StudySponsors" class="govuk-label" for="StudySponsors">
        @Html.DisplayNameFor(model => model.StudySponsors)
    </label>
    <div id="event-name-hint" class="govuk-hint">
        For example, John Smith, Astra Pharma, BLP Pharma Ltd
    </div>
    @if (Html.ViewData.ModelState["StudySponsors"]?.Errors.Count > 0)
    {
        <span id="StudySponsors-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            @Html.ValidationMessageFor(model => model.StudySponsors)
        </span>
        <input asp-for="StudySponsors" class="govuk-input  govuk-input govuk-input--error" id="StudySponsors" aria-describedby="StudySponsors-error" value="@(Model.StudySponsors)" />
    }
    else
    {
        <input asp-for="StudySponsors" class=" govuk-input" id="StudySponsors" value="@(Model.StudySponsors)" />
    }
</div>

