@model BPOR.Rms.Models.Email.SetupCampaignViewModel

<style>
    /* Mobile devices */
    @@media (max-width: 640px) {
        .govuk-input {
            width: 100%; 
            margin-bottom: 10px;
        }
    }

    /* Desktop and larger devices - more than 641 */
    @@media screen and (min-width: 641px) {
        .govuk-input {
            width: 70%; 
        }
    }
</style>

<div class="govuk-form-group">
    <div class="govuk-form-group @(Html.ViewData.ModelState["PreviewEmails"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
            <label asp-for="PreviewEmails" for="PreviewEmails" class="govuk-label govuk-label--l">
                @Html.DisplayNameFor(model => model.PreviewEmails)
            </label>
        <div id="PreviewEmails-hint" class="govuk-hint">
            Specify the email address(es) you want any preview emails to be delivered to. These should be comma-separated. For example, user@email.com, user2@email.com
        </div>
        @if (Html.ViewData.ModelState["PreviewEmails"]?.Errors.Count > 0)
        {
            <span id="PreviewEmails-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                @Html.ValidationMessageFor(model => model.PreviewEmails)
            </span>
            <input asp-for="PreviewEmails" class="govuk-input govuk-input--error" aria-describedby="PreviewEmails-error" value="@Model.PreviewEmails" type="text"/>
        }
        else
        {
            <input asp-for="PreviewEmails" class="govuk-input" value="@Model.PreviewEmails" type="text"/>
        }
        <button type="submit" class="govuk-button" data-module="govuk-button" style="height: 40px" value="SendPreviewEmail" name="action">
            Send preview email
        </button>
    </div>
</div>
