@using Westwind.AspNetCore.Markdown

@model JdrHealthCarePage


@section Metadata {
    @{
        if (!string.IsNullOrEmpty(Model?.Description))
        {
            <meta name="description" content="@Model.Description" />
        }

        if (!string.IsNullOrEmpty(Model?.Keywords))
        {
            <meta name="keywords" content="@Model.Keywords" />
        }
    }
}

<section id="onThisPage" class="quick-link">
    <div class="govuk-width-container">
        <div class="header-container">
            <h3>What's on this page</h3>
        </div>
        <div class="govuk-button-group on-this-page">
            <a href="#heroSection" class="govuk-button--tertiary button-width-fit-content">Introduction</a>
            @{
                if (Model.AccordionSection != null)
                {
                    foreach (var accordionLink in Model.AccordionSection.accordions)
                    {
                        <a class="govuk-button--tertiary button-width-fit-content" href="#@{
                    @accordionLink.Title.Replace(" ","")
}">@accordionLink.Title</a>
                    }
                }
                if (Model.onlineResourcesSection != null)
                {
                    <a class="govuk-button--tertiary button-width-fit-content" href="#onlineResourceSection">@Model.onlineResourcesSection.Title</a>
                }
                if (Model.contactUsSection != null)
                {
                    <a class="govuk-button--tertiary button-width-fit-content" href="#contectUsSection">@Model.contactUsSection.Title</a>
                }

            }
        </div>
    </div>
</section>

<!-- Join dementaia research Hero TODO, some classes are bootstrap leftovers, will need cleared out-->
<section id="heroSection">
    <div class="intro my-2 even">
        <div class="govuk-width-container">
            <section>
                <h1 class="hero-content">@Model.Hero.Title</h1>
                <div class="hero-content">
                    <markdown markdown="Hero.Body" />
                </div>
            </section>
        </div>
    </div>
</section>

<!-- introductions sub section 1 - Video -->
@{
    if (Model.VideoSection != null)
    {
        <section id="mediaSection" class="media-section">
            <div class="odd video-section pb-3">
                <div class="govuk-width-container">
                    <div class="">
                        <div class="col-xl-4 my-2 order-last order-xl-first">
                            <section class="video-info info-card">
                                <h2>@Model.VideoSection.Heading</h2>

                                <markdown markdown="VideoSection.Description" />
                            </section>
                        </div>
                        <div class="video-wrapper">
                            <iframe src="@Model.VideoSection.VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen"></iframe>
                        </div>
                    </div>

                    @if (!string.IsNullOrEmpty(Model.VideoSection.Transcript))
                    {

                        <details class="transcript-wrapper">
                            <summary class="govuk-button button-wide">@Model.VideoSection.Link.Label</summary>
                            <section class="info-card transcript">
                                @{
                                    Model.VideoSection.Transcript = Model.VideoSection.Transcript.Replace("# ", "## ");
                                }
                                <markdown markdown="VideoSection.Transcript" />
                            </section>
                        </details>
                    }

                    <div>
                        <markdown markdown="VideoSection.LowerDescription" />
                    </div>
                </div>
            </div>
        </section>
    }
}

<!-- banner section -->
@{
    if (Model.Banner != null)
    {

        <!-- subsection 3 Banner -->
       <section id="bannerSection" class="govuk-grid-column-full banner no-float">
            <div class="govuk-width-container">
                <span class="banner-text-container">
                    <markdown markdown="Banner" />
                </span>
            </div>
        </section>
    }
}


<!-- Accordion -->
@if (Model?.AccordionSection?.accordions != null)
{
    <div class="accordion-section">
        <div class="accordion govuk-width-container">
            <h2>@Model.AccordionSection.title</h2>
            <markdown markdown="AccordionSection.description"></markdown>
            @foreach (var accordion in Model.AccordionSection.accordions)
            {

                <details id="@accordion?.Title.Replace(" ", "")">
                    <summary><h3 class="accordion-title govuk-grid-column-two-thirds">@accordion?.Title</h3></summary>
                    <markdown>@accordion?.Content</markdown>
                </details>
            }
        </div>
    </div>

}

@{
    if (Model.onlineResourcesSection != null)
    {
        @* online resource section *@
        <section id="onlineResourceSection" class="govuk-!-margin-bottom-9 jdr-background-black ">
            <div class="jdr-resources-container">
                <div class="jdr-resources jdr-resources-image">
                    <img src="@Model.onlineResourcesSection.image.File.Url" alt="" role="presentation" class="w-100" />
                </div>
                <div class="jdr-resources jdr-resources-content">
                    <div class="jdr-resources-content-inner">
                    <h2>
                        @Model.onlineResourcesSection.Title
                        </h2>
                    <div class="jdr-resources-content-inner-text">
                        <markdown markdown="onlineResourcesSection.Text" />
                    </div>
                    <a class="govuk-button--tertiary button-width-fit-content" href="@{@Model.onlineResourcesSection.link.Url}" aria-label="@{@Model.onlineResourcesSection.link.AriaLabel}">@Model.onlineResourcesSection.link.Label </a>
                    </div>
                </div>
            </div>
        </section>
    }
}

@{
    if (Model.contactUsSection != null)
    {
        <section-with-heading heading="@Model.contactUsSection.Title" id="contectUsSection" class="section-container govuk-width-container">
            <markdown markdown="contactUsSection.Text"/>
            <a class="govuk-button govuk-button--secondary button-width-fit-content" href="@Model.contactUsSection.link.Url" aria-label="@Model.contactUsSection.link.AriaLabel"> @Model.contactUsSection.link.Label</a>
        </section-with-heading>
    }
}
