@model VsiContactModel

<h4>Name:</h4>
<p>@Model.Name</p>
<h4>Role:</h4>
<p>@Model.Role</p>
<h4>Organisation:</h4>
<p>@Model.Organisation</p>
<h4>Email:</h4>
<p>@Model.Email</p>
<h4>Phone Number:</h4>
<p>@Model.PhoneNumber</p>
