@using BPOR.Domain.Enums
@model BPOR.Rms.VolunteerInformation.Models.VsiGroupModel

@{
    VsiEditContext context = ViewBag.Context;
}

<p>You have added the following criteria for @Model.Name:</p>
@foreach (var criterion in Model.Criteria.Where(i => i.Type == VolunteerStudyInformationGroupCriteriaTypeId.Exclude))
{
    <div>
        <p>@criterion.Criteria</p>
        <form asp-action="RemoveCriteria" asp-route-studyId="@context.Vsi.StudyId" asp-route-id="@criterion.Id">
            <button type="submit">Delete</button>
        </form>
    </div>
}

<a asp-action="CreateInclusionCriterion" asp-route-studyid="@context.Vsi.StudyId" asp-route-id="@Model.Id">Add more criteria</a>
<a asp-action="Section2_Step1" asp-route-studyid="@context.Vsi.StudyId" asp-route-groupid="@Model.Id" class="govuk-button" data-module="govuk-button">Continue</a>