@model VsiEditModel

@{
    VsiEditContext context = ViewBag.Context;
    Layout = "_VsiEditLayout";
}

@if (Model.Contacts.Any())
{
    <p>You have selected the following location(s)</p>
    @foreach (var contact in Model.Contacts)
    {
        <div>
            <div>
                <h4>Name:</h4>
                <p>@contact.Name</p>
                <h4>Role:</h4>
                <p>@contact.Role</p>
                <h4>Organisation:</h4>
                <p>@contact.Organisation</p>
                <h4>Email:</h4>
                <p>@contact.Email</p>
                <h4>Phone Number:</h4>
                <p>@contact.PhoneNumber</p>
            </div>
            <div>
                <form method="post" asp-action="RemoveContact" asp-route-studyId="@context.Vsi.StudyId" asp-route-siteId="@contact.Id">
                    <button type="submit">Remove</button>
                </form>
            </div>
        </div>
    }
    
    <a asp-action="CreateContact" asp-route-studyId="@context.Vsi.StudyId">Add another contact</a>
    <a asp-action="Section3_Step4" class="govuk-button" asp-route-studyId="@context.Vsi.StudyId">Continue</a>
}
else
{
    <form method="get" asp-action="SiteSearch" asp-route-studyId="@context.Vsi.StudyId">
        <partial name="Shared/_ContactEditor" model="@(new VsiContactModel())"/>
        <button type="submit" class="govuk-button">Submit</button>
    </form>
    
    <a asp-action="Section3_Step4" asp-route-studyId="@context.Vsi.StudyId">Skip</a>
}