@model VsiEditModel

@{
    VsiEditContext context = ViewBag.Context;
}

<h1>Create volunteer groups</h1>

@if (Model.Sites.Any())
{
    <p>You can click 'Save and continue' to proceed with the form</p>
    @foreach (var group in Model.Groups)
    {
        <div>
            <div>
                <p>@group.Name</p>
            </div>
            <div>
                <a asp-action="CreateInclusionCriterion" asp-route-studyId="@context.Vsi.StudyId" asp-route-id="@group.Id">Edit</a>
                <form method="post" asp-action="RemoveGroup" asp-route-studyId="@context.Vsi.StudyId" asp-route-siteId="@group.Id">
                    <button type="submit">Remove</button>
                </form>
            </div>
        </div>
    }
    
    <a asp-action="Section1_Step4" asp-route-studyId="@context.Vsi.StudyId">Continue</a>
}
else
{

    <p>If your study requires multiple groups, you can add more after providing information for each group.</p>
    <p>Enter a name for this group</p>
    <form method="post" asp-action="CreateGroup" asp-route-studyId="@context.Vsi.StudyId">
        <form-group label="Enter a name for this group.">
            <input class="govuk-input" name="name" type="text">
        </form-group>
        <button type="submit">Submit</button>
    </form>
    
    <a asp-action="ManualSiteEntry" asp-route-studyId="@context.Vsi.StudyId">Add address manually</a>
}