@using BPOR.Domain.Enums
@model BPOR.Rms.VolunteerInformation.Models.VsiGroupModel

@{
    VsiEditContext context = ViewBag.Context;
    context.SectionName = Resources.Section1Name;
    Layout = "_VsiEditLayout";
}

<h1>Create Volunteer Groups</h1>

<p class="govuk-body">You can click 'Continue' to proceed with the form.</p>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Model.Name
        </dt>
        <dd class="govuk-summary-list__actions">
            <form method="post" asp-action="RemoveGroup" asp-route-studyId="@context.StudyId" asp-route-groupId="@Model.Id">
                <button class="govuk-link" type="submit">Delete</button>
            </form>
        </dd>
    </div>
</dl>

<div>
    <a class="govuk-button" asp-action="CreateCriterion" asp-route-studyId="@context.StudyId" asp-route-groupId="@Model.Id" asp-route-type="Include">Continue</a>
</div>