@model VsiContactModel

<p><span class="body-bold">Name:</span><br/>
    @Model.Name</p>
<p><span class="body-bold">Role:</span><br/>
    @Model.Role</p>
<p><span class="body-bold">Organisation:</span><br/>
    @Model.Organisation</p>
<p><span class="body-bold">Email:</span><br/>
    @Model.Email</p>
<p><span class="body-bold">Phone Number:</span><br/>
    @Model.PhoneNumber</p>