@using BPOR.Rms.Abstractions.Enums
@model BPOR.Rms.VolunteerInformation.Models.VsiEditModel
@inherits BPOR.Rms.VolunteerInformation.Views.VolunteerInformationPage.ViewBase<VsiEditModel>

@{
    ViewData.SetSectionName(Resources.Section1Name);
    SetFlowBackAction("Section1_Step3");
    Layout = "_VsiEditLayout";
}

<h1 class="govuk-heading-l">Check the details you've provided</h1>
@foreach (var group in Model.Groups)
{
    <h2 class="govuk-heading-m">Create Volunteer Groups</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Enter a name for this group
            </dt>
            <dd class="govuk-summary-list__value">
                @group.Name
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" asp-action="RemoveGroup" asp-controller="VolunteerInformationGroup"
                   asp-all-route-data="@EditContext.ToRouteData()" asp-route-groupId="@group.Id">
                    Delete
                </a>
            </dd>
        </div>
    </dl>

    <h3 class="govuk-heading-s">Add inclusion Criteria</h3>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Inclusion criteria for @group.Name
            </dt>
            <dd class="govuk-summary-list__value">
                <ul>
                    @foreach (var criterion in group.Criteria.Where(i => i.Type == VsiGroupCriteronType.Include))
                    {
                        <li>@criterion.Description</li>
                    }
                </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" asp-action="Criteria" asp-controller="VolunteerInformationGroup"
                   asp-all-route-data="@EditContext.ToRouteData()" asp-route-groupId="@group.Id" 
                   asp-route-type="Include" asp-route-isGroupEdit="true">Change</a>
            </dd>
        </div>
    </dl>

    <h3 class="govuk-heading-s">Add exclusion Criteria</h3>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Exclusion criteria for @group.Name
            </dt>
            <dd class="govuk-summary-list__value">
                <ul>
                    @foreach (var criterion in group.Criteria.Where(i => i.Type == VsiGroupCriteronType.Exclude))
                    {
                        <li>@criterion.Description</li>
                    }
                </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" asp-action="Criteria" asp-controller="VolunteerInformationGroup" 
                   asp-all-route-data="@EditContext.ToRouteData()" asp-route-groupId="@group.Id"
                   asp-route-type="Exclude" asp-route-isGroupEdit="true">Change</a>
            </dd>
        </div>
    </dl>
}

<div class="govuk-!-margin-3">
    <body-text>
        <a asp-action="CreateGroup" asp-all-route-data="@EditContext.ToRouteData()" class="govuk-link">
            Add another group
        </a>
    </body-text>
</div>

<div>
    <a href="@Url.FlowNext(EditContext, "Section2_Step1")" class="govuk-button" data-module="govuk-button">Continue</a>
</div>