@model VsiEditModel

@{
    VsiEditContext context = ViewBag.Context;
    ViewData.SetSectionName(Resources.Section1Name);
    ViewData.SetBackLinkOverride(Url.Action("Section1_Step2", context));
    Layout = "_VsiEditLayout";
}

<h1 class="govuk-heading-l">Research Location</h1>
<body-text>You have selected the following location(s)</body-text>
<table class="govuk-table">
    <tbody class="govuk-table__body">
    @foreach (var site in Model.Sites)
    {
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-margin-0">@site.AddressLine1</p>
                <p class="govuk-body govuk-!-margin-0">@site.AddressLine2</p>
                <p class="govuk-body govuk-!-margin-0">@site.AddressLine3</p>
                <p class="govuk-body govuk-!-margin-0">@site.AddressLine4</p>
                <p class="govuk-body govuk-!-margin-0">@site.AddressLine5</p>
                <p class="govuk-body govuk-!-margin-0">@site.Postcode</p>
            </td>
            <td class="govuk-table__cell">
                <form method="post" asp-action="RemoveSite" asp-route-studyId="@context.StudyId"
                      asp-route-siteId="@site.Id">
                    <button class="govuk-link" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a class="govuk-link" asp-action="SiteSearch" asp-all-route-data="@context.ToRouteData()">Add another research
        location</a>
</div>
<div class="govuk-!-margin-top-3">
    <a class="govuk-button" asp-action="Section1_Step4" asp-all-route-data="@context.ToRouteData()">Continue</a>
</div>