@using BPOR.Rms.Abstractions.Enums
@using BPOR.Rms.VolunteerInformation.Controllers
@model VsiEditModel

@{
    VsiEditContext context = ViewBag.Context;
    ViewData.SetSectionName(Resources.Section4Name);
    Layout = "_VsiEditLayoutForm";
}

<h1 class="govuk-heading-l">Check the details you've provided</h1>
<h2 class="govuk-heading-m">Study Overview</h2>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            About the study
        </dt>
        <dd class="govuk-summary-list__value">
            <markdown>@Model.Description</markdown>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-action="Section1_Step1" asp-route-flowmode="@VipFlowMode.Edit" asp-route-studyId="@context.StudyId">Change</a>
        </dd>
    </div>
    <gov-uk-summary-list-item for="StudyType"><a class="govuk-link" asp-route-flowmode="@VipFlowMode.Edit" asp-action="Section1_Step2" asp-route-studyId="@context.StudyId">Change</a>
    </gov-uk-summary-list-item>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Study Sites
        </dt>
        <dd class="govuk-summary-list__value">
            @if (Model.Sites.Any())
            {
                foreach (var site in Model.Sites)
                {
                    <address class="govuk-body govuk-!-margin-top-2">
                        @foreach (var line in ((string?[])[site.AddressLine1, site.AddressLine2, site.AddressLine3, site.AddressLine4, site.AddressLine5, site.Postcode])
                        .Where(i => !string.IsNullOrWhiteSpace(i)))
                        {
                        <text>@line<br/></text>
                        }
                    </address>
                }
            }
            else
            {
                <body-text>None</body-text>
            }
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-action="Section1_Step3" asp-route-flowmode="@VipFlowMode.Edit" asp-route-studyId="@context.StudyId">Change</a>
        </dd>
    </div>
</dl>

<h2 class="govuk-heading-m">Who can participate</h2>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Demographic Group(s)
        </dt>
        <dd class="govuk-summary-list__value">
            <ul>
                @foreach (var group in Model.Groups)
                {
                    <li>@group.Name</li>
                }
            </ul>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-action="Section1_Step4" asp-route-flowmode="@VipFlowMode.Edit" asp-route-studyId="@context.StudyId">Change</a>
        </dd>
    </div>
    @foreach (var group in Model.Groups)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Inclusion critera for @group.Name
            </dt>
            <dd class="govuk-summary-list__value">
                <ul>
                    @foreach (var criteria in group.Criteria.Where(i => i.Type == VsiGroupCriteronType.Include))
                    {
                        <li>@criteria.Description</li>
                    }
                </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" asp-action="Criteria" asp-controller="VolunteerInformationGroup" asp-route-studyId="@context.StudyId"
                   asp-route-groupid="@group.Id" asp-route-type="Include">Change</a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Exclusion critera for @group.Name
            </dt>
            <dd class="govuk-summary-list__value">
                <ul>
                    @foreach (var criteria in group.Criteria.Where(i => i.Type == VsiGroupCriteronType.Exclude))
                    {
                        <li>@criteria.Description</li>
                    }
                </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" asp-action="Criteria" asp-controller="VolunteerInformationGroup" asp-route-studyId="@context.StudyId"
                   asp-route-groupid="@group.Id" asp-route-type="Exclude">Change</a>
            </dd>
        </div>
    }
</dl>

<h2 class="govuk-heading-m">What does the study involve?</h2>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            What you will do
        </dt>
        <dd class="govuk-summary-list__value">
            <markdown>@Model.WhatYouWillDo</markdown>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-action="Section2_Step1" asp-route-studyId="@context.StudyId">Change</a>
        </dd>
    </div>
    <gov-uk-summary-list-item for="CostReimbursement">
        <a class="govuk-link" asp-route-flowmode="@VipFlowMode.Edit" asp-action="Section2_Step2" asp-route-studyId="@context.StudyId">Change</a>
    </gov-uk-summary-list-item>
    <gov-uk-summary-list-item for="HasIncentive">
        <a class="govuk-link" asp-route-flowmode="@VipFlowMode.Edit" asp-action="Section2_Step3" asp-route-studyId="@context.StudyId">Change</a>
    </gov-uk-summary-list-item>
    <gov-uk-summary-list-item for="IncentiveDetails">
        <a class="govuk-link" asp-route-flowmode="@VipFlowMode.Edit" asp-action="Section2_Step3" asp-route-studyId="@context.StudyId">Change</a>
    </gov-uk-summary-list-item>
    <gov-uk-summary-list-item for="NumberOfVisits">
        <a class="govuk-link" asp-route-flowmode="@VipFlowMode.Edit" asp-action="Section2_Step4" asp-route-studyId="@context.StudyId">Change</a>
    </gov-uk-summary-list-item>
    <gov-uk-summary-list-item for="StudyDuration">
        <a class="govuk-link" asp-route-flowmode="@VipFlowMode.Edit" asp-action="Section2_Step5" asp-route-studyId="@context.StudyId">Change</a>
    </gov-uk-summary-list-item>
    <gov-uk-summary-list-item for="StudyFormat">
        <a class="govuk-link" asp-route-flowmode="@VipFlowMode.Edit" asp-action="Section2_Step6" asp-route-studyId="@context.StudyId">Change</a>
    </gov-uk-summary-list-item>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Other details
        </dt>
        <dd class="govuk-summary-list__value">
            <markdown>@Model.OtherDetails</markdown>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-action="Section2_Step7" asp-route-flowmode="@VipFlowMode.Edit" asp-route-studyId="@context.StudyId">Change</a>
        </dd>
    </div>
</dl>

<h2 class="govuk-heading-m">Taking part in this study</h2>
<dl class="govuk-summary-list">
    <gov-uk-summary-list-item for="PreScreenerUrl"><a class="govuk-link" asp-route-flowmode="@VipFlowMode.Edit" asp-action="Section3_Step1" asp-route-studyId="@context.StudyId">Change</a>
    </gov-uk-summary-list-item>
    <gov-uk-summary-list-item for="ExternalWebsiteUrl"><a class="govuk-link" asp-route-flowmode="@VipFlowMode.Edit" asp-action="Section3_Step2" asp-route-studyId="@context.StudyId">Change</a>
    </gov-uk-summary-list-item>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Contact details
        </dt>
        <dd class="govuk-summary-list__value">
            <ul>
                @foreach (var contact in Model.Contacts)
                {
                    <li>
                        <partial name="_ContactCard" model="contact"/>
                    </li>
                }
            </ul>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-action="Section3_Step3" asp-route-flowmode="@VipFlowMode.Edit" asp-route-studyId="@context.StudyId">Change</a>
        </dd>
    </div>
    <gov-uk-summary-list-item for="InfoToRegisterByEmail"><a class="govuk-link" asp-route-flowmode="@VipFlowMode.Edit" asp-action="Section3_Step4" asp-route-studyId="@context.StudyId">Change</a>
    </gov-uk-summary-list-item>
</dl>

@if (Model.Status == VsiStatus.Draft)
{
    <h2 class="govuk-heading-m">Create Study Information page</h2>

    <body-text>If you're sure of the information above, click the button below to create the study page.</body-text>
}
else
{
    <div class="govuk-!-margin-bottom-4">
        <a asp-action="PreviewVip" asp-route-studyId="@context.StudyId" class="govuk-button govuk-button--secondary" target="_blank">Preview</a>
    </div>
}